.tanpa-bootstrap {
    border: none;
    padding: 20px;
    font-size: 2em;
    font-weight: 600;
    background-color: tomato;
    color: #333;
    cursor: pointer;
}

.tanpa-bootstrap:hover {
    background-color: aqua;
    color: black;
    transform: rotateY(2);
    transition: all .5s;
}